@import "../../styles/abstracts/variables";

.nav {
  position: fixed;
  top: 0;
  right: $h-gutter + 3vw;
  z-index: 3;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__list-item {
    padding: 0;
    margin-right: 3vw;
    height: $header-height;
    display: flex;
    align-items: center;
  }

  &__list-anchor {
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    position: relative;
    overflow: hidden;

    &::after {
      display: block;
      content: "";
      height: 2px;
      background-color: $text-color;
      position: absolute;
      bottom: 0;
      width: 100%;
      transform: translateX(-101%);
    }

    &:hover::after {
      transition: transform 0.3s $easing;
      transform: translateX(0);
    }

    &.animate-out::after {
      transition: transform 0.3s $easing;
      transform: translateX(100%);
    }
  }
}

.logo {
  position: fixed;
  left: 0;
  height: $header-height;
  width: 280px;
  display: flex;
  align-items: center;
  z-index: 3;
  pointer-events: none;


  &__img {
    width: 55px;
    height: 55px;
    background: url("../../assets/logos/primary-logo.svg") no-repeat center;
    background-size: 55px 55px;
    display: block;
    position: absolute;
    left: 1.2vw;
    transition: opacity 0.3s linear;
    opacity: 0;
  }

  &__text {
    color: $text-color;
    font-size: 3.125vw;
    font-family: $font-headings;
    letter-spacing: 7px;
    padding-left: $h-gutter;
    transition: opacity 0.3s linear;
    opacity: 1;
    text-transform: uppercase;
  }
}

.burger {
  width: $burger-width;
  height: $header-height;
  position: fixed;
  top: 0;
  left: auto;
  right: $h-gutter;
  display: flex;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s $easing;
  transform: translateX(0);

  &__wrapper {
    position: absolute;
    cursor: pointer;
    border: none;
    padding: 0;
    height: 40px;
    background: none;
  }

  &__bar {
    width: $burger-width;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    display: block;
  }
}

/* Scroll trigger: Reveal logo and move buger when the user scrolls */
.has-scrolled .burger {
  transform: translateX(100%);
}

.has-scrolled .logo__img {
  opacity: 1;
}

.has-scrolled .logo__text {
  opacity: 0;
}
